<div class="min-h-screen bg-white flex relative overflow-hidden">
  <app-app-sidebar [isSidebarOpen]="isSidebarOpen"></app-app-sidebar>

  <div class="flex-1 flex flex-col p-4 sm:p-6 md:p-8">
    <div class="w-full mx-auto relative">
      <!-- Ícono de menú hamburguesa para abrir el sidebar -->
      <div class="absolute top-4 right-4">
        <button (click)="openSidebar()" class="text-red-600 focus:outline-none">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

      <div class="p-5 sm:p-8">
        <img src="assets/images/Logo_completo.png" alt="DAGPACKET" class="h-10 sm:h-12 mb-6 mx-auto">
        <h2 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-6 text-center">Paqueterias</h2>

        <div class="space-y-5 overflow-y-auto max-h-[calc(100vh-300px)]">
          <div *ngIf="quotes.superenvios.paqueterias.length > 0">
            <h3 class="text-lg font-bold text-gray-800 mb-4">Superenvíos</h3>
            <div *ngFor="let paqueteria of quotes.superenvios.paqueterias"
                 (click)="seleccionarPaqueteria(paqueteria)"
                 [class.border-2]="paqueteria === paqueteriaSeleccionada"
                 [class.border-orange-500]="paqueteria === paqueteriaSeleccionada"
                 class="bg-orange-50 p-4 rounded-xl flex items-center justify-between cursor-pointer hover:bg-orange-100 transition duration-300 ease-in-out transform hover:scale-102 hover:shadow-md mb-4">
              <div class="flex items-center">
                <img src="assets/images/superenvios_logo.png" alt="Superenvíos" class="w-12 h-12 mr-4 object-contain">
                <div>
                  <h3 class="font-bold text-lg text-gray-800">Superenvíos</h3>
                  <p class="text-sm text-gray-600">{{ paqueteria.tiempo_de_entrega }}</p>
                </div>
              </div>
              <span class="font-bold text-lg text-orange-600">$ {{ paqueteria.precio }}</span>
            </div>
          </div>

          <div *ngIf="quotes.fedex.length > 0">
            <h3 class="text-lg font-bold text-gray-800 mb-4">FedEx</h3>
            <div *ngFor="let paqueteria of quotes.fedex"
                 (click)="seleccionarPaqueteria(paqueteria)"
                 [class.border-2]="paqueteria === paqueteriaSeleccionada"
                 [class.border-orange-500]="paqueteria === paqueteriaSeleccionada"
                 class="bg-orange-50 p-4 rounded-xl flex items-center justify-between cursor-pointer hover:bg-orange-100 transition duration-300 ease-in-out transform hover:scale-102 hover:shadow-md mb-4">
              <div class="flex items-center">
                <img src="assets/images/fedex_logo.png" alt="FedEx" class="w-12 h-12 mr-4 object-contain">
                <div>
                  <h3 class="font-bold text-lg text-gray-800">FedEx</h3>
                  <p class="text-sm text-gray-600">{{ paqueteria.tiempo_de_entrega }}</p>
                </div>
              </div>
              <span class="font-bold text-lg text-orange-600">$ {{ paqueteria.precio }}</span>
            </div>
          </div>

          <div *ngIf="quotes.paqueteexpress.length > 0">
            <h3 class="text-lg font-bold text-gray-800 mb-4">Paquete Express</h3>
            <div *ngFor="let paqueteria of quotes.paqueteexpress"
                 (click)="seleccionarPaqueteria(paqueteria)"
                 [class.border-2]="paqueteria === paqueteriaSeleccionada"
                 [class.border-orange-500]="paqueteria === paqueteriaSeleccionada"
                 class="bg-orange-50 p-4 rounded-xl flex items-center justify-between cursor-pointer hover:bg-orange-100 transition duration-300 ease-in-out transform hover:scale-102 hover:shadow-md mb-4">
              <div class="flex items-center">
                <img src="assets/images/paquetexpress_logo.png" alt="Paquete Express" class="w-12 h-12 mr-4 object-contain">
                <div>
                  <h3 class="font-bold text-lg text-gray-800">Paquete Express</h3>
                  <p class="text-sm text-gray-600">{{ paqueteria.tiempo_de_entrega }}</p>
                </div>
              </div>
              <span class="font-bold text-lg text-orange-600">$ {{ paqueteria.precio }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Botón para confirmar selección -->
      <div *ngIf="paqueteriaSeleccionada" class="fixed bottom-0 left-0 w-full bg-white p-4 border-t border-gray-200 z-40">
        <button (click)="confirmarSeleccion()" class="w-full py-3 bg-orange-600 text-white text-lg font-bold rounded-lg shadow-lg">
          Confirmar Selección
        </button>
      </div>

  <!-- Overlay para cerrar el sidebar en móviles -->
  <div *ngIf="isSidebarOpen" (click)="closeSidebar()" class="fixed inset-0 bg-black bg-opacity-[.1] z-30 md:hidden"></div>
</div>
