<div class="min-h-screen bg-gray-100 flex relative overflow-hidden">
    <!-- Sidebar -->
    <app-app-sidebar [isSidebarOpen]="isSidebarOpen"></app-app-sidebar>
  
    <!-- Main content -->
    <div class="flex-1 flex flex-col p-4">
      <div class="w-full max-w-4xl mx-auto px-8 py-10 bg-white rounded-2xl shadow-lg relative">
        <!-- Ícono de menú hamburguesa para abrir el sidebar -->
        <div class="absolute top-4 right-4">
          <button (click)="openSidebar()" class="text-orange-600 focus:outline-none hover:text-orange-700">
            <i class="fa-solid fa-bars text-2xl"></i>
          </button>
        </div>
  
        <!-- Contenido -->
        <div class="text-center mb-10">
          <img
            src="assets/images/Logo_completo.png"
            alt="Dagpacket Logo"
            class="max-w-[200px] h-auto mx-auto mb-6"
          />
          <h3 class="text-2xl font-bold text-orange-600">Detalles de tu cartera</h3>
          <div>
            <p class="text-gray-500">Aquí puedes ver los detalles de tu cartera de criptomonedas.</p>
          </div>
          <div *ngIf="profile">
            <h1>
              <span class="text-gray-500">Nombre de usuario:</span> {{ profile.name }}
            </h1>
            <h1>
              <span class="text-gray-500">Balance :</span> {{ profile.wallet.rechargeBalance.$numberDecimal }}
            </h1> 
           <button 
            (click)="openModal()"
           class="bg-orange-600 text-white px-4 py-2 mt-4 rounded-md">Recargar</button>
          </div>
          <div *ngIf="!profile">
              Usuario sin wallet iniciada
              </div>
        </div>


      <!-- modal -->

      <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class="bg-white p-4 rounded-lg z-50">
          <h1 class="text-2xl font-bold text-orange-600">Recargar saldo</h1>
          <div class="mt-4">
            <label for="amount" class="block text-sm font-medium text-gray-700">Monto a recargar</label>
            <input
              type="text"
              id="amount"
              [(ngModel)]="rechargeAmount"  
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
            />
          </div>
          <div class="mt-4">
            <label for="card-number" class="block text-sm font-medium text-gray-700">Número de tarjeta</label>
            <input
              type="text"
              id="card-number"
              [(ngModel)]="cardNumber"  
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
            />
          </div>
          <div class="mt-4">
            <label for="expiry" class="block text-sm font-medium text-gray-700">Fecha de vencimiento (MM/AA)</label>
            <input
              type="text"
              id="expiry"
              [(ngModel)]="expiry"  
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
            />
          </div>
          <div class="mt-4">
            <label for="cvc" class="block text-sm font-medium text-gray-700">CVC</label>
            <input
              type="text"
              id="cvc"
              [(ngModel)]="cvc" 
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
            />
          </div>
        

          <div class="mt-4">
            <button (click)="closeModal()" class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md">Cancelar</button>
            <button (click)="createIntent()" class="bg-orange-600 text-white px-4 py-2 rounded-md">Recargar</button>
          </div>
        </div>
      </div>

  
   
  
        <!-- Overlay para cerrar el sidebar en móviles -->
        <div *ngIf="isSidebarOpen" (click)="closeSidebar()" class="fixed inset-0 bg-black bg-opacity-[.1] z-30 md:hidden"></div>
      </div>
    </div>
  </div>
  